<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
 
 	<bean class="org.springframework.context.annotation.CommonAnnotationBeanPostProcessor" />
 
	<bean id="helloBean" class="com.personal.spring.springbeans.HelloWorld" init-method="initMethod"
	destroy-method="destroyMethod">
		<property name="name" value="Piyush Roy" />
	</bean>
 
 	<bean id="OutputHelper" class="com.personal.spring.springbeans.impl.OutputHelper">
 		<description>Below property denotes HAS-A relationship</description>
		<property name="outputGenerator" ref="JsonOutputGenerator" />
	</bean>
 
	<!-- <bean id="CsvOutputGenerator" class="com.personal.spring.springbeans.impl.CsvOutputGenerator" /> -->
	<bean id="JsonOutputGenerator" class="com.personal.spring.springbeans.impl.JsonOutputGenerator" />
	
	<bean class="com.personal.spring.springbeans.CustomBeanPostProcessor"/>
</beans>